{% extends "base.html" %}
{% block content %}
<div class="container-fluid col-4">
<center><h1>Reset Password</h1></center>
<!--A form to input each of the values into the database with an accept button to confirm-->
    <form action="" method="post" name="Change Password">
        {{ form.hidden_tag() }}
        Current Password
        {{ form.password(class_='form-control', placeholder='Enter current password') }}
        {% for error in form.password.errors %}
         <div class="alert alert-danger" role="alert" style="margin-top:5px">
            [{{ error }}]
         </div>
        {% endfor %}
        <br>

        New Password
        {{ form.password1(class_='form-control', placeholder='Enter new password') }}
        {% for error in form.password1.errors %}
        <div class="alert alert-danger" role="alert" style="margin-top:10px">
          [{{ error }}]
        </div>
        {% endfor %}
        <br>

        Confirm New Password
        {{ form.password2(class_='form-control', placeholder='Confirm new password') }}
        {% for error in form.password2.errors %}
        <div class="alert alert-danger" role="alert" style="margin-top:10px">
          [{{ error }}]
        </div>
        {% endfor %}
        <br>
        <p><input style="margin-top: 10px" class="btn btn-outline-primary col-12" type="submit" value="Reset Password"></p>
    </form>
</div>
{% endblock %}
