{% extends "base.html" %}
{% block content %}
<div class="container-fluid col-4">
<center><h1>Login</h1></center>
<!--A form to input each of the values into the database with an accept button to confirm-->
    <form action="" method="post" name="Create Assessment">
        {{ form.hidden_tag() }}
        Username
        {{ form.username(class_='form-control', placeholder='Enter username') }}
        {% for error in form.username.errors %}
         <div class="alert alert-danger" role="alert" style="margin-top:10px">
            [{{ error }}]
         </div>
        {% endfor %}
        <br>

        Password
        {{ form.password(class_='form-control', placeholder='Enter password') }}
        {% for error in form.password.errors %}
        <div class="alert alert-danger" role="alert" style="margin-top:10px">
          [{{ error }}]
        </div>
        {% endfor %}
        <br>
        <p><input style="margin-top: 10px" class="btn btn-outline-primary col-12" type="submit" value="Log In"></p>
    </form>
<a href="/create"><input style="margin-top: 10px" class="btn btn-outline-primary col-12" value="Do not have an account? Register now!"></a>
</div>
{% endblock %}
